*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img{
    width: 50%;
    height: 100%;
 
    border: 2px solid lightgreen;
}

.logo{
    width: 500px;
    border: 2px solid yellow;
    display: flex;
    align-items: center;
    /* justify-content: center; */
}

nav{
    height: 100%;
    border: 2px solid orange;
    display: flex;
    justify-content: center;
}

header{
    display:flex;
    flex-direction: row;
    justify-content:space-around;
    align-items: center;
    background-color: crimson;
    border: 2px solid green;
    height: 50px;
}

nav > ul{
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    border: 2px solid grey;
}

a{
    text-decoration: none;
    color: white;
}
li{
    border: 2px solid blue;
}